body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

h3 {
    text-align: center;
    font-family: cursive;
}

p {
    margin: 40px 10%;
    font-family: monospace;
}

.purple-text {
    color: purple;
}

.center-colorbar {
    margin: 0 0 0 15%;
    width: 70%;
}

.center-top-nav {
    margin: auto;
    width: 380px;
}

.center-top-const {
    margin: auto;
    width: 760px;
}

.center-bottom-const {
    margin: auto;
    width: 710px;
}

.center-info-superhighway {
    display: block;
    margin: auto;
}

.center-recycle {
    margin: auto;
    width: 770px;
}

.center-coffee {
    margin: auto;
    width: 350px;
}
